.delete-review-container {
    position: relative;
    padding: 5px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: rgb(253,90,90);
    display: block;
    z-index: 100;
}
.delete-review-container >h3 {
    /* color: rgb(253,90,90); */
    display: flex;
    flex-direction:column;
    align-items: center;

}

.confirm-delete-btn {
    flex-direction:column;
    align-items: center;
    cursor: pointer;
    color:black;
    border: 0;
    border-radius: 4px;
    width: 100%;
    padding: 10px 0;
    transition: 0.4s;
    background-color: rgb(253,90,90);

}

.refuse-delete-btn {
    flex-direction:column;
    align-items: center;
    cursor: pointer;
    color:black;
    border: 0;
    border-radius: 4px;
    width: 100%;
    padding: 10px 0;
    transition: 0.4s;
    background-color:darkgrey;
}