.spot-details-container {
    padding: 60px;
}

.spot-reviews-container {
    max-width: 1000px;

}

h1 {
    margin-top: 50px;
    text-align: left;
}

.spot-details-grid {
   border-bottom: 1.75px solid black;
}

.spot-container-text {
    width: 67%;
}

.resContainer {
    min-width: 250px;
    max-height: 125px;
    width: 33%;
    display: grid;
    align-items: right;
    border: 3px solid black;
    padding: 10px;
    border-radius: 10px;
}

.res {    
    width: 50%;
    max-width: 500px;
    

}

.res-box-text {
    display: flex;
    text-align: center;

}

.spot-info-container {
    display: flex;

}

.res-button {
    font-size: 18px;
    /* padding: 10px 20px; */
    color: #000000;
    background-color: rgb(253,90,95);
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    height: 50px;

}

