.spots-container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 15px;
    text-decoration: none;
    gap: 8px;
    width: 95%;
    margin-top: 70px;
    padding: 10px;
    position: absolute;
    z-index: 1;
}

.spot-tiles {
    /* text-decoration: none; */
    padding: 5px;
    
}


@media only screen and (min-width: 640px) {
    .spot-grid {
        flex-basis: 50%;
    }
}
@media only screen and (min-width: 960px) {
    .spot-grid {
        flex-basis: 33.33%;
    }
}
@media only screen and (min-width: 1280px) {
    .spot-grid {
        flex-basis: 25%;
    }
}




