.hidden {
    display: none
}

#nav-container {
    height: 65px;
    width: 100%;
    margin-top: none;
    border-bottom: solid rgb(233, 229, 229) 1.2px;
    list-style-type: none;
}



.home-btn {
    position: fixed;
}

.nav-logo {


}
.profile-btn {
    position: absolute;
    text-align: right;
    margin-left: 70%;
    cursor: pointer;
    color:rgb(253,90,90);
    border: 0;
    border-radius: 4px;
    padding: 10px 0;
    background-color: transparent;
}

.profile-btn li {
    list-style-type: none;
}


.logoimg {
    display: flex;
    align-items: left;
    position: relative;
    width: 100px;
    cursor: pointer;
    
}

.logout-btn {
    
}
#profile {
    background: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: rgb(253,90,90);
}

.profile-dropdown {
    position: absolute;
    padding: 5px;
    right: 5px; 
    list-style: none;
   
}
.fa-user-circle {
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 8px;
    cursor: pointer;
    background-color: transparent;
}

.create-new-spot {
    position: relative;
    margin-left: 50%;
    margin-top: 12px;

}