.login{
    position: relative;
    padding: 5px;
    margin: 30px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    color: rgb(253,90,90);
    display: block;
    z-index: 9900;
}
.login-h1 {
    color: rgb(253,90,90);
    display: flex;
    flex-direction:column;
    align-items: center;

}
label .login-form-inputs {
    font-size: medium;
    display: block;
    margin-bottom: 2px;
    margin-top: 2px;
    color: rgb(253,90,90);
}


#submitButton {
    flex-direction:column;
    align-items: center;
    cursor: pointer;
    color:rgb(253,90,90);
    border: 0;
    border-radius: 4px;
    width: 100%;
    padding: 10px 0;
    transition: 0.4s;
    background-color: transparent;
}
#submitButton:hover {
    color: white;
    box-shadow: 0 0 3px black;
    background-color: #fd5a5a;
}

input .login-form-inputs {
    width: 50 px;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 55px;
    margin: 5px;
    border: black;
    background-color: #fd5a5a;
    font-size: 12px;
    color: white;
}

#demoButton {
    flex-direction:column;
    align-items: center;
    cursor: pointer;
    color:rgb(253,90,90);
    border: 0;
    border-radius: 4px;
    width: 100%;
    padding: 10px 0;
    transition: 0.4s;
    background-color: transparent;
}
#demoButton:hover {
    color: white;
    box-shadow: 0 0 3px black;
    background-color: #fd5a5a;
}

